.container .main-side {
    flex-basis: 75%;
    height: 100%;
    display: flex;
    background-color: #585B68;
}

.container .main-side .main-side-wrapper {
    width: 75%;
    height: 63.518518518%;
    background-image: url('../../images/bg1.png');
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    margin: auto;
}

.container .main-side .main-side-popup {
    background-color: #FFFFFF;
    width: 66.666666666%;
    height: 79.15451895%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .main-side .main-side-popup .main-side-popup-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.125rem;
}

.container .main-side .main-side-popup .close-button {
    position: absolute;
    background-color: #639005;
    color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 0;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main-side .main-side-popup .close-button:hover {
    opacity: .9;
}

.container .main-side .main-side-popup .close-button i {
    height: 0.78rem;
    width: 0.78rem;
}

.container .main-side .main-side-popup .headline,
.container .main-side .main-side-popup .success-message {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.container .main-side .main-side-popup .success-icon {
    background-color: #639005;
    color: #fff;
    height: 99px;
    width: 99px;
    font-size: 4rem;
    align-self: center;
    border-radius: 50%;
}

.container .main-side .main-side-popup .main-side-popup-content-form .success-icon::before {
    align-self: center;
}

.container .main-side .main-side-popup .description {
    font-size: 1.25rem;
    font-weight: 500;
    width: 19.5rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-input {
    height: 2.438rem;
    background-color: #EDEDED;
    border: 0;
    margin-top: 0.9375rem;
    font-size: 1rem;
    /* width: 21.875rem; */
}

.container .main-side .main-side-popup .main-side-popup-content-form .required-message {
    color: #EA0F0F;
    border: 0;
    margin-top: 0.25rem;
    font-size: .875rem;
    font-weight: 300;
    text-align: left;
}

.container .main-side .main-side-popup .main-side-popup-content-form .required-message img {
    margin-right: 0.269rem;
    margin-left: 0.894rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-element:nth-of-type(1) {
    margin-top: 1.9375rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-input,
.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown {
    padding-left: .8125rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-input::placeholder {
    color: #000;
}

.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown {
    border: 0;
    border-right: 0.563rem solid transparent;
}

.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown,
.container .main-side .main-side-popup .main-side-popup-content-form .submit-button {
    height: 2.563rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown {
    background-color: #EDEDED;
    margin-top: 0.9375rem;
    font-size: 1rem;
    /* width: 22.125rem; */
}

.container .main-side .main-side-popup .main-side-popup-content-form .submit-button {
    background-color: #639005;
    color: #fff;
    border: 0;
    margin-top: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    /* width: 22.125rem; */
    width: 100%;
}

.container .main-side .main-side-popup .main-side-popup-content-form .submit-button:hover {
    opacity: .9;
}

.container .main-side .main-side-popup .main-side-popup-content-form {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    display: flex;
    flex-direction: column;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
}
