@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: local(""),
  url("../public/fonts/Inter/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: local(""),
  url("../public/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""),
  url("../public/fonts/Inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../public/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""),
  url("../public/fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""),
  url("../public/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""),
  url("../public/fonts/Inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""),
  url("../public/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""),
  url("../public/fonts/Inter/Inter-Black.ttf") format("truetype");
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: Inter;
}

input, button, textarea {
  font-family: Inter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container .setting-side {
  flex-basis: 25%;
}

.container .main-side {
  flex-basis: 75%;
  height: 100%;
  display: flex;
  background-color: #585B68;
}

.container .setting-side {
  /* padding: 4rem; */
  display: flex;
  flex-direction: column;
  margin: 0 4.0625rem;
}

.container .setting-side label {
  /* line-height: 19px; */
  margin-bottom: .625rem;
  font-weight: 500;
}

.container .setting-side label:nth-of-type(1) {
  margin-top: 2.0625rem;
}

.container .setting-side label:nth-of-type(2) {
  margin-top: 2.25rem;
}

.container .setting-side label:nth-of-type(3) {
  margin-top: 2.6875rem;
}

.container .setting-side input,
.container .setting-side textarea {
  border: 1px solid #D2DAE3;
  border-radius: 8px;
  font-size: 1rem;
}

.container .setting-side input {
  height: 2.75rem;
  /* margin-bottom: 2rem; */
  padding-left: .9375rem;
}

.container .setting-side textarea {
  /* margin-bottom: 2.7rem; */
  height: 6rem;
  padding: .9375rem 1.625rem 0 .9375rem;
}

.container .main-side .main-side-wrapper {
  width: 75%;
  height: 63.518518518%;
  background-image: url('./bg1.png');
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin: auto;
}

.container .main-side .main-side-popup {
  background-color: #FFFFFF;
  width: 66.666666666%;
  height: 79.15451895%;
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .main-side .main-side-popup .main-side-popup-content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.125rem;
}

.container .main-side .main-side-popup .close-button {
  position: absolute;
  background-color: #639005;
  color: #fff;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 0;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.container .main-side .main-side-popup .close-button:hover {
  opacity: .9;
}

.container .main-side .main-side-popup .close-button i {
  height: 0.78rem;
  width: 0.78rem;
}

.container .main-side .main-side-popup .headline,
.container .main-side .main-side-popup .success-message {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.container .main-side .main-side-popup .success-icon {
  background-color: #639005;
  color: #fff;
  height: 99px;
  width: 99px;
  font-size: 4rem;
  align-self: center;
  border-radius: 50%;
}

.container .main-side .main-side-popup .main-side-popup-content-form .success-icon::before {
  align-self: center;
}

.container .main-side .main-side-popup .description {
  font-size: 1.25rem;
  font-weight: 500;
  width: 19.5rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-input {
  height: 2.438rem;
  background-color: #EDEDED;
  border: 0;
  margin-top: 0.9375rem;
  font-size: 1rem;
  /* width: 21.875rem; */
}

.container .main-side .main-side-popup .main-side-popup-content-form .required-message {
  color: #EA0F0F;
  border: 0;
  margin-top: 0.25rem;
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-element:nth-of-type(1) {
  margin-top: 1.9375rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .form-input::placeholder,
.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown {
  color: #000;
  padding-left: .8125rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown,
.container .main-side .main-side-popup .main-side-popup-content-form .submit-button {
  height: 2.563rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form .font-dropdown {
  background-color: #EDEDED;
  border: 0;
  margin-top: 0.9375rem;
  font-size: 1rem;
  /* width: 22.125rem; */
}

.container .main-side .main-side-popup .main-side-popup-content-form .submit-button {
  background-color: #639005;
  color: #fff;
  border: 0;
  margin-top: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  /* width: 22.125rem; */
  width: 100%;
}

.container .main-side .main-side-popup .main-side-popup-content-form .submit-button:hover {
  opacity: .9;
}

.container .setting-side .setting-side-header {
  font-size: 24px;
  font-weight: 500;
  /* line-height: 29px; */
  text-decoration-line: underline;
  margin: 0;
  margin-top: 5.0625rem;
}

.container .main-side .main-side-popup .main-side-popup-content-form {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: flex;
  flex-direction: column;
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}

